.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 960px;
}

/* div:not(.container) {
  border: solid 3px red;
} */

#div-5{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#div-7 {
background: silver;
margin: auto;

}

