.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 960px;
}

/* div:not(.container) {
  border: solid 3px red;
} */
